<!DOCTYPE html>
<html>
<head>
    <title>EcoQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>🌍 EcoQuest</h2>
    <a href="{{ url_for('dashboard') }}">Game Hub</a>
    <a href="{{ url_for('learning') }}">Mission Zone</a>
    <a href="{{ url_for('topics') }}">Start Challenge</a>
    <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
</div>

<div class="main fade-in">
    {% block content %}{% endblock %}
</div>

</body>
</html>